    <h1>Help</h1>
    <p>
      This is the help page for this tutorial.
      Contact Ruby on Rails Tutorial about the sample app at the
      <a href="http://railstutorial.org/feedback/">feedback page.</a>
    </p>
